name: "ci-msrv"
on:
  pull_request:
  push:
    branches:
      - master
      - main
      - staging # for Bors
      - trying # for Bors
  schedule:
    - cron: '00 05 * * *'
jobs:
  msrv:
    name: msrv
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: checkout_repo
        uses: actions/checkout@v3

      - name: install_rust
        uses: dtolnay/rust-toolchain@stable

      - name: install_cargo_msrv
        run: cargo install --no-default-features cargo-msrv

      - name: version_of_cargo_msrv
        run: cargo msrv --version

      - name: show_msrv
        run: cargo msrv show --output-format minimal

      - name: use_msrv_lock_file
        run: cp Cargo.lock.msrv Cargo.lock

      - name: run_cargo_msrv_for_macro
        run: cargo msrv verify --manifest-path ./parameterized-macro/Cargo.toml --output-format json -- cargo check --locked

      - name: run_cargo_msrv_on_verify_failure_for_macro
        if: ${{ failure() }}
        run: cargo msrv find --manifest-path ./parameterized-macro/Cargo.toml --output-format json -- cargo check --locked

      - name: run_cargo_msrv
        run: cargo msrv verify --output-format json -- cargo check --locked

      - name: run_cargo_msrv_on_verify_failure
        if: ${{ failure() }}
        run: cargo msrv find --output-format json -- cargo check --locked
